.nav-wrapper{

    height: 100vh;
    width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 0.5rem;
    border-right: 1px solid rgb(206, 202, 202);
    font-family: sans-serif;

    padding: 2.5rem;

    i{
        height: 3.5rem;
        width: 3.5rem;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        
    }

    i:hover{

        background-color: rgb(224, 222, 222);
        transition: all 0.2s ease-in;
        cursor: pointer;
    }

    .compose{

        height: 3.5rem;
        width:  3.5rem;
        border-radius: 3rem;
        background-color: rgb(73, 176, 235);
        color: white;
    }

    .compose:hover{

        background-color: rgb(0, 155, 245) ;
    }

    .logo{
        color:  rgb(73, 176, 235);
    }


    .icons{

        height: 10rem;
        width: 10rem;

        margin-bottom: 1.5rem;

        img{

            height: 10rem;
            width: 10rem;

            


        }

        #react{
            animation: rotate 10s 0s infinite linear;
            object-fit: scale-down;
        }

        #sass{

            object-fit: scale-down;
        }

    }





}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(359deg);
    }
}